@font-face {
	font-family:Delicious_Handrawn;
	src: url("Delicious_Handrawn/DeliciousHandrawn-Regular.ttf") format('truetype');
}
html, body{
    width: 100%;
}
body{
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    height: 50vh;
    min-width: 800px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-image: linear-gradient(-45deg,#00d9ff,#ff00dd);
    background-attachment: fixed;
    overflow: hidden;
}
header{
    width: 100%;
    top: 0;
  z-index: 999;
    position: fixed;
    position: -webkit-sticky;
}
header a{
    position: relative;
    z-index: 995;
}
#Logo{
    float: left;
    padding: 10px;
    /*width: 10%;*/
    height: 3em;
    position: relative;
    z-index: 998;
}
.Konto {
    width: 3em;
    float: right;
    /*width: 7%;*/
    padding: .5%;
    position: relative;
    z-index: 998;
}
a:hover{
    filter: brightness(.75);
}
a {
    color: #fff;
    text-decoration: none;
}
a :visited{
    color: #fff;
    text-decoration: none;
}
nav {
    position: sticky;
    width: 100%;
    /*background-color: #3333334f;*/
    color: #fff;
    position: relative;
    z-index: 990;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    width: 25%;
}
li a {
    font-family:Delicious_Handrawn;
    font-size: x-large;
    letter-spacing: 3px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
input{
    float: left;
    padding: .5em;
    height: 1em;
    width: 50%;
    font-size: 1.5em;
    border: #fff solid 3px ;
    border-radius: 1.5em;
    text-align: center;
    font-family:Delicious_Handrawn;
    /*text-transform: uppercase;*/
    color: #fff;
    background-color: #ffffff5f;
}
.date{
    width: 5em;
    float: left;
}
dl{
	margin-top:15px;
    
}

dt {
  float: left;
  font-weight: bold;
  margin-right: 0.5em;
 
}


dt img{
    width: 400px;
    height: 400px;
}




dd::after {
    clear: left;
    content: " ";
    display: block;
    margin-top:15px;
  }

#erinnerung{
    text-align: center;
    /*padding: 10px;
    background-color: gray;*/
    font-size: 1em;
    position: fixed;
    top:10em;
    right:5em;
}

.Vlogo{
    float:left;
    margin-right: 25px;
    width: 20em;
    height: 20em;
    object-fit: contain;
    
}
.vtext{
    float: right;
    display:block;
}

.Zeitraum{
    margin:2em  0 2em 0 ;
    width: 50%;
    border-collapse: collapse;
}

.Zeitraum th, td{
    border: solid;
}


.bilderreihe{
    float: right;
    width: 30em;
    margin-left: 10em;
    padding-bottom: 1em;
}

main {
    position: relative;
    height: 75vh;
    margin:146px 50px 0 50px ;
    padding: 0 1em 10vh 1em;
    font-size: 1.2em;
    line-height: 1.5;
    overflow-y: scroll;
    color: #fff;
    text-align: justify;
    /*background-color: rgba(0, 0, 0, 0.432);*/
}

p{
    height: 1.5em;
    
}

.maintext{
    padding-left: 5%;
    padding-right: 5%;
}
.mainrechts{
    float:right;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

.mainlinks{
    float:left;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

button{
    font-family:Delicious_Handrawn;
    font-size: 1.6em;
    margin: .2em .2em .2em 0;
    padding: .3em 1em;
    border: #fff solid 3px;
    border-radius: 1.5em;
    background-color: #ffffff5f;
    color: #fff;
}
.input{
    /*display: flex;
    justify-content: center;*/
    width: 20em;
    margin: auto;
    /*background-color: #ff00dd;*/
}
.input button{
    width: 100%;
    
}
.input input{
    margin: .2em .2em .2em 0;
    width: 91%;
    margin-left: 0; 
}
button.tempButton{
    background-color: #ff0000c7;
} 
summary{
    float: right;
    margin-right: 25vw;
}
summary img{
    width: 25vw;
    height: 25vw;
    object-fit:cover;
}
details p{
    display:inline-block;
    padding: 0 10% 0 10%;
}
table{
    width: 100%;
    font-family:Delicious_Handrawn ;
    color: #fff;
    text-align: center;
    font-size: 1.6em;
    /*background-color: #ffffff31;*/
    
}
table img{
    height: 2em;
}
p.warnung{
    font-size: 1.6em;
    font-family:Delicious_Handrawn  ;
    color: #fff;
    background-color: rgba(255, 0, 0, 0.74);
    padding: .5em;
    text-align: center;
    border-radius: 1em;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f128; 
  }
  ::-webkit-scrollbar-thumb {
    background: #8888886b; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffffa6; 
  }