body{
    margin: 0;
}
head {
    position: absolute;
}
.Titel {
    color: #fff;
    background-color: #333;
    float: left;
    width: 75%;
}
.Titel.scroll{
    display: none;
}
.Konto {
    color: #fff;
    background-color: #a13e3e;
    float: right;
    width: 25%;
    text-align: center;
}
.Konto a{
    font-size: 30px;
    align-self: center;
}
.Konto img{
    height: 25px;
} 
a {
    color: #fff;
    text-decoration: none;
}
a :visited{
    color: #fff;
    text-decoration: none;
}
nav {
    position: sticky;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
nav a {
    text-align: center;
    width: 25%;
    color: #fff;
    text-decoration: none;
}

/* CSS-Regeln für den Hauptinhalt */
.main-content {
    margin-top: 50px; /* Platz für die Navigationsleiste */
    padding: 20px;
    font-size: 1.2em;
    line-height: 1.5;
}
.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
 /* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
 /* .sticky + .content {
    padding-top: 60px;
  }