
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: lightgrey;
}

a {
	color: #0077cc;
	text-decoration: none;
}

/* Kopfzeile */
header {
	background-color: darkgrey;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 1rem 2rem;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li {
	margin-right: 1rem;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	padding: 0.5rem;
	transition: background-color 0.2s ease-in-out;
}

nav ul li a:hover {
	background-color: #0077cc;
	color: #fff;
}

/* Hauptbereich */
main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
    background-color: gray;
}

section {
	margin-bottom: 2rem;
}

h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

ul {
	list-style: none;
	margin-left: 1rem;
}

ul li::before {
	content: "•";
	margin-right: 0.5rem;
}

/* Fußzeile */
footer {
    color: black;
	background-color: lightgrey;
	padding: 1rem 2rem;
	text-align: center;
	font-size: 0
}